<h3 class="text-center">Shopping</h3>
<div class="row">
  <div *ngFor="let product of products | async" class="col-md-4">
    <div class="thumbnail">
      <h4 class="text-center">
        <span class="label label-info">{{product.desc}}</span>
      </h4>
      <img src="http://placehold.it/350x250&text=Apples" class="img-responsive">
      <div class="caption">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <h3>Quantity: {{product.qty}}</h3>
          </div>
          <div class="col-md-6 col-xs-6 price">
            <h3>
              <label>R{{product.price}}</label>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-6">
            <a (click)="onBuy(product)" class="btn btn-success btn-product">
              <span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
          </div>
        </div>
        <p> </p>
      </div>
    </div>
  </div>
</div>