<div class="card text-center col-md-6">
  <div class="card-header">
    Remaining Balance
  </div>
  <div class="card-block">
    <h4 class="card-title">R300</h4>
    <form>
      <div class="form-group">
        <label for="Amount">Amount</label>
        <input type="number" min="0" class="form-control" placeholder="400">
      </div>
      <button type="submit" class="btn btn-primary">TopUp</button>
      <br/>
      <br/>
    </form>
  </div>
  <div class="card-footer text-muted">
    FNB
  </div>
</div>